.nav_bar {
    display: none;
}

.nav_bar {
    font-family: 'Libre Caslon Text';
    background-color: $primary !important;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    width: 30%;
    height: 60vh;
    text-align: center;
    z-index: 999;
    position: fixed;
    right: 5%;
    top: 15%;
    margin: 0 auto;
    line-height: 0;
    .navbar {
        right: -30%;
        top: 15%;
        z-index: 5;
        .pb-4 {
            transition: 0.375s all ease-in-out;
            &:hover {
                text-decoration: none;
                opacity: 40% !important;
            }
        }
        a {
            transition: 0.375s all ease-in-out;
            text-decoration: none;
            color: rgba($color: $secondary, $alpha: 0.6);
        }
    }
    .social_icon {
        opacity: 0.6;
    }
    .copyright {
        color: rgba($color: $secondary, $alpha: 0.3);
        font-size: 12px;
        letter-spacing: 1px;
    }
}

#page {
    color: $secondary;
}

.hamburger {
    position: fixed;
    right: 0%;
    top: 4%;
    width: 35px;
    height: 40px;
    z-index: 100;
    cursor: pointer;
    span {
        display: block;
        margin: 12px auto;
        background-color: $primary;
        width: 100%;
        height: 3px;
        border-radius: 4px;
        transition: all 0.5s ease;
    }
    /* Hambuger hover animation */
    &:hover {
        span:first-child {
            transform: translateY(-2px);
        }
        span:last-child {
            transform: translateY(2px);
        }
    }
}


/* Hambuger click animation to cross */

.hamburger.is-opened {
    span:first-child {
        transform: translateY(10px) rotate(45deg);
    }
    span:nth-child(2) {
        transform: scaleX(0);
    }
    span:last-child {
        transform: translateY(-20px) rotate(-45deg);
    }
}

//RWD
@media (max-width: 768px) {
    .nav_bar {
        width: 42%;
        right: 8%;
        .navbar {
            right: -15%;
        }
    }
}

@media (max-width:414px) {
    .nav_bar {
        width: 92%;
        right: 7%;
        height: 70%;
        top: 5%;
        .navbar {
            right: -15%;
        }
    }
}