.idx {
    .idx-banner {
        min-height: 100vh;
        &:hover {
            opacity: 85%;
        }
        .shape {
            animation: morph 5s ease-in-out infinite;
            transition: all .3s linear;
            border-radius: 40% 20% 30% 70% / 60% 30% 70% 40%;
            width: 100%;
            height: 80vh;
            z-index: 5;
            @media (max-width: 1440px) {
                width: 95%;
            }
            @media (max-width: 414px) {
                width: 100%;
                height: 70vh;
            }
        }
        .carousel-item img {
            width: 100%;
            height: 80vh;
            @media (max-width: 414px) {
                height: 70vh;
            }
        }
        @keyframes morph {
            0% {
                border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                /* background: url(2.png); */
                transition: all .1s linear;
            }
            50% {
                border-radius: 30% 60% 60% 40% / 50% 60% 30% 60%;
                /* background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%); */
                /* background: url(3.png); */
                transition: all .1s linear;
            }
            100% {
                /* border-radius: 60% 40% 80% 70% / 60% 30% 70% 40%; */
                border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
                /* background: url(4.png); */
                transition: all .1s linear;
            }
        }
        .hp_text {
            position: absolute;
            z-index: 99;
            right: 20%;
            bottom: 20%;
            background-color: rgba($color: $primary, $alpha: 0.8);
            color: $secondary;
            font-size: $h1-font-size;
            font-weight: bold;
            line-height: 50px;
            letter-spacing: 2px;
            border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
            padding: 15px 20px;
            @media (max-width: 1440px) {
                right: 17%;
                bottom: 10%;
            }
            @media (max-width: 414px) {
                right: 12%;
                bottom: 8%;
            }
        }
    }
    .about-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10% 0;
        @media (max-width: 540px) {
            flex-direction: column;
            text-align: center;
            margin: 0% 0 10% 0;
        }
        .about-img {
            width: 20%;
            margin-right: 30px;
            @media (max-width: 540px) {
                width: 40%;
                margin: 0px 0px 40px 0px;
            }
        }
        h3 {
            font-weight: bold;
            margin-bottom: 20px;
        }
        // span {
        //     line-height: 20px;
        // }
    }
}