<div class="container">
    <div class="footer-inner">
        <div class="footer-info">
            <ul>
                <li>園區電話／07-5812886</li>
                <li>園區地址／高雄市左營區明德新村2、3、4、5、10、11、12-1號</li>
                <li class="footer-link">
                    <a href="copyright.html" title="著作權聲明">著作權聲明</a>
                    <a href="privacy.html" title="隱私權及資訊安全政策">隱私權及資訊安全政策</a>
                </li>
                <li>
                    <a href="https://www.realtime.tw/system-design/" target=" _blank" title="網頁設計(另開新視窗)">網站設計</a>：
                    <a href="https://www.realtime.tw/" target=" _blank" title="即時互動科技(另開新視窗)">即時互動科技</a>
                </li>
                <li class="copyright">Copyright © 2020 再見捌捌陸 All Rights Reserved.</li>
            </ul>
        </div>
        <div class="footer-social">
            <a href="#" class="facebook" title="facebook(另開新視窗)" target="_blank">
                <i class="icon-social-facebook" aria-hidden="true"></i>
            </a>
            <a href="#" class="instagram" title="instagram(另開新視窗)" target="_blank">
                <i class="icon-social-instagram" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>