{% macro active(activePage='home') %}
<div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>
<div class="nav-bar">
    <div class="navbar-box">
        <ul>
            <div class="homepage">
                <a class="" href="index.html">首頁
                </a>
            </div>
            <div class="portfolio">
                <a class="" href="portfolio.html">
                    作品列表頁
                </a>
            </div>
        </ul>
    </div>
</div>
<!-- 漢堡 -->
{% endmacro %}