@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');

$letter-spacing:2px;
$line-height:17.83px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  // font-family: 'Libre Caslon Text';
  // font-family: 'Noto Serif TC';
}

//scrollbar
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #604C4C);
  border-radius: 6px;

  &:hover {
    background: linear-gradient(transparent, #BFAA99);
  }
}

//清除position mixin
@mixin reset_position {
  position: static;
  display: block;
  margin: 0 auto;
}

//all page deco
.deco_left_ge,
.deco_right_ge {
  // border: 1px solid aqua;
  position: fixed;
  top: 42%;
}

.deco_right_ge {
  right: 0;
}

//font
.font_noto {
  font-family: 'Noto Serif TC' !important;
}

.font_caslon {
  font-family: 'Libre Caslon Text' !important;
}
//連結
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    transition: 0.6s;
  }
}

ul {
  list-style: none;

  li {
    list-style: none;
  }
}

p {
  font-size: 0.92em;
}

//上下留白header,footer
header,
footer {
  border: 1px solid aqua;
  height: 80px;
}