//nav-pills
.nav-tabs {
    border-bottom: 1px solid $primary;
    .active {
        font-weight: 500;
        color: rgb(255, 255, 255) !important;
        background: $primary !important;
        border: 2px solid $primary;
    }
    .nav-pills {
        a {
            // color: $primary;
            cursor: pointer;
        }
    }
    .nav-link {
        // color: $gray-600;
        color: $primary;
        border: 0px;
        &:hover {
            background: rgba($success, $alpha: 0.5) !important;
        }
    }
}