<div class="footer-icons">
    <a target="_blank " title="behance" href="https://www.behance.net/gemma_li "><img src="../images/behance.svg "
            alt="behance"></a>
    <a target="_blank " title="email" href="mailto:isyounen427@gmail.com"><img src="../images/mail.svg" alt="mail"></a>
    <a target="_blank " title="cv download"
        href="https://drive.google.com/file/d/1AaOdgGkcCEx5wIXmTaPjtAcXNS2jL-c4/view?usp=sharing"><img
            src="../images/cv.svg" alt="linkedin"></a>
</div>

<small class="footer-copyright">Copyright © Gemma</small>