<!doctype html>
<html lang="zh-Hant-TW">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Gemma's Portfolio - </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="/images/favicon.png" /> -->

    <!-- Web Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500&display=swap">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Feather icon -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

    <!-- icomoon -->
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <!-- Sal Scroll Animation -->
    <link rel="stylesheet" href="js/sal/sal.css">

    <link rel="stylesheet" href="css/style.css"> 

</head>

<body>

    <div class="wrapper-portfolio">
        <header class="header">
            
        </header>

        <main class="main">
            
        </main>

        <footer class="footer">
            <div class="footer-icons">
    <a target="_blank " title="behance" href="https://www.behance.net/gemma_li "><img src="../images/behance.svg "
            alt="behance"></a>
    <a target="_blank " title="email" href="mailto:isyounen427@gmail.com"><img src="../images/mail.svg" alt="mail"></a>
    <a target="_blank " title="cv download"
        href="https://drive.google.com/file/d/1AaOdgGkcCEx5wIXmTaPjtAcXNS2jL-c4/view?usp=sharing"><img
            src="../images/cv.svg" alt="linkedin"></a>
</div>

<small class="footer-copyright">Copyright © Gemma</small>
        </footer>

    </div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
    </script>

    <!-- SmartMenus -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.1.1/jquery.smartmenus.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartmenus/1.1.1/addons/bootstrap-4/jquery.smartmenus.bootstrap-4.min.js">
    </script>

    <!-- Sal Scroll Animation -->
    <script type="text/javascript" src="js/sal/sal.js"></script>
    <script>
        sal();
    </script>

    <!-- Feather icons -->
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>

    <!-- Tiny Slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

    <script type="text/javascript" src="js/script.js"></script>
    <script src="js/hambuger.js "></script>
     

</body>

</html>