<!-- index.nunjucks -->
{% extends "layout-portfolio.html" %}
<!--Title setting-->
{% block title %}高雄市孔子廟祭孔問答活動站{% endblock %}
<!--Nav setting-->
{% block navigation %} {% import 'nav.html' as nav %}
<!-- Set navitem to active -->
{{nav.active('index')}} {% endblock %} {% block HeadContent %} {% endblock %} {% block content %}
<!-- 內容 -->
<div class="portfolio-page portfolio-inner-page">
    <div class="container">
        <div class="row">
            <div class="left-box">
                <div class="left"></div>
            </div>
            <div class="right-box">
                <div class="right">
                    <img src="./images/pr-confucius/banner.png" class="img-fluid banner" alt="">
                    <div class="title">
                        <div class="">
                            <h3 class="font-weight-bold">高雄市孔子廟祭孔問答活動站</h3>
                            <p>工作事項：視覺設計、HTML與SCSS切版
                                <br>使用工具與軟體：Adobe Photoshop、Adobe Xd、HTML、SCSS
                            </p>
                        </div>
                        <a target="blank" class="btn btn-primary btn-sm" href="https://khmconfuciustest.realtime.tw/"
                            role="button">網站展示 &gt;</a>
                    </div>

                    <h4 class="font-weight-bold mt-3">【網站介紹】</h4>
                    <p class="">每年國曆 9月28日為「孔子誕辰紀念日」，高雄市亦遵循古禮舉行祭孔「釋奠」典禮， 以紀念孔子並表彰教師對於作育英才的貢獻。
                        現今高雄市所舉辦的釋奠典禮一直是全台最富有特色的祭孔儀節之一，在釋奠典禮的鐘鼓樂聲中， 舉行啟扉、迎神、進饌、上香、獻帛、獻爵、獻花、飲褔、受胙及送神等儀節，典禮隆重莊嚴，
                        八佾舞由64名佾生共同演譯，鐘鼓樂聲飄揚，場面盛大。
                    </p>
                    <div class="my-4">
                        <img class="img-fluid" src="./images/pr-confucius/style-guide.png" alt="">
                        <img class="img-fluid" src="./images/pr-confucius/component.png" alt="">
                        <img class="img-fluid" src="./images/pr-confucius/icons.png" alt="">
                    </div>
                    <h4 class="font-weight-bold">【製作過程】</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4 mb-4">
                                <img class="img-fluid mb-1" src="./images/pr-confucius/phone1.png" alt="">
                                <p>測驗頁面有做進度條顯示目前進度和點選答案欄位有保留空間較好點選</p>
                            </div>
                            <div class="col-sm-4 mb-4">
                                <img class="img-fluid mb-1" src="./images/pr-confucius/phone2.png" alt="">
                                <p>祈福成功頁可以兌換獎品故提醒使用者保留畫面</p>
                            </div>
                            <div class="col-sm-4">
                                <img class="img-fluid mb-1" src="./images/pr-confucius/phone3.png" alt="">
                                <p>祈福填寫頁若未填寫會跳窗提醒填寫</p>
                            </div>
                        </div>
                        <img class="img-fluid mb-1" src="./images/pr-confucius/hp.png" alt="">
                        <p>首頁設計稿</p>
                    </div>

                    <a class="btn btn-primary btn-sm mt-5" href="portfolio.html" role="button">
                        &lt; Back to proflio </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 內容 -->
{% endblock %} {% block js %}
<script>
</script>
{% endblock %}