.idxBanner {
    position: relative;
    background: #1f1f4d;
    width: 100%;

    img {
        opacity: 0.1;
    }
}

.idxEvents {
    .container {
        position: relative;
    }

    .tns-nav {
        text-align: center;

        button {
            width: 10px;
            height: 10px;
            padding: 0;
            margin: 2px;
            background: transparent;
            border: 1px solid #ccc;
            border-radius: 99px;
            outline: transparent;

            &.tns-nav-active {
                background: #ccc;
            }
        }
    }

    .controls {
        position: absolute;
        top: 50%;
        transform: translateY(calc(-50% - 10px));
        z-index: 2;
        background: rgba($color: #fff, $alpha: .75);
        padding: 16px;
        border-radius: 100px;

        &-prev {
            position: absolute;
            left: 0;
        }

        &-next {
            position: absolute;
            right: 0;
        }
    }
}

.scTitle {
    font-family: 'Pixeboy';
    font-size: 6rem;
    @extend .ddgg;
}

.scLink {
    svg {
        width: 64px;
        height: 64px;
    }
}

.tabsdrop {
    &-title {
        color: #fff;
        background: $primary;
        padding: 8px;
        border-radius: 4px;
        margin-bottom: 8px;
    }

    @include media-breakpoint-down(md) {
        .nav-item {
            width: 100%;
            margin-bottom: 4px;
        }
    }

    @include media-breakpoint-up(lg) {
        &-title {
            display: none;
        }
    }
}